@model baskifyCore.ViewModels.LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.lux.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <nav class="navigationBar">
        <a class="navigationBarBrand navBarElement" href="/"><img src="~/Content/Logo.png" style="height:75%; width: auto;" />Baskify</a>
    </nav>
    <div class="alert alert-dismissible alert-warning" id="loginAlert">
        <button type="button" class="close" data-hide="alert">&times;</button>
        <h4 class="alert-heading">Please login here!</h4>
        <p class="mb-0">
            Please sign in before accessing personal content.
        </p>
    </div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign In</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="LoginForm">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.redirectUrl)
                    <div class="form-group has-danger">
                        <label for="Username">Username</label>
                        <input type="text" name="Username" id="Username" placeholder="Username" class="form-control" />
                        <span class="invalid-feedback" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group has-danger">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" id="Password" placeholder="Password" class="form-control" />
                        <span class="invalid-feedback" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    <div style="display: flex;">
                        <button id="loginButton" type="submit" class="btn btn-primary">Sign In</button>
                        <a style="align-self: center; margin-left: 10px;" href="/account/forgotpassword">Forgot Password?</a>
                        <div id="loginLoader" class="loading-spinner" style="height: 48px; width: 48px; margin-left: 10px;">
                            <div class="loading-body">
                                <div></div><div></div><div></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="MFAContainer" style="opacity:0; display: none; width: 100%">
                    <div onclick="backToCredentials()" style="color: #1F9BCF; cursor: pointer; width:100%;">Go Back</div>
                    <h5>Please enter the code sent to your phone number ending in <span id="MFAPhoneNumber"></span></h5>
                    <div id="LoginMFA">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/MFAValidator.js"></script>
    <script>

        function backToCredentials() {
            $("#MFAContainer").animate({ //hide MFA form
                opacity: 0
            }, 500, function (e) {
                $(this).css("display", "none");
                $("#LoginForm").css("display", "block").animate({ //show login form
                    opacity: 1
                }, 500);
                MFAField = null;
                $("#LoginMFA").html("");
            });
        }

        $(function () { $("#SignOnModal").modal("show"); });
        $("#LoginForm").on("submit", function (e) {
            e.preventDefault();
            $("#loginLoader").css("visibility", "visible");
            $.ajax({
                url: "/api/login",
                data: new FormData($("#LoginForm")[0]),
                processData: false,
                contentType: false,
                method: "post",
                success: function (data) {
                    $("#loginAlert p").html("Login Succeeded!");
                    $("#loginAlert").addClass("alert-success").removeClass("alert-danger").removeClass("alert-warning");
                    $("#loginLoader").css("visibility", "hidden");
                    window.location.href = data.redirect ?? "/"; //redirect
                },
                error: function (xhr, textStatus, errorThrown) {
                    statusCode = xhr.status;
                    if (statusCode == 404) {//user not found
                        $("[data-valmsg-for=Username]").html("Invalid username");
                        $("#Username").addClass("is-invalid").removeClass("is-valid");
                    }
                    else {
                        $("[data-valmsg-for=Username]").html("");
                        $("#Username").addClass("is-valid").removeClass("is-invalid");
                    }

                    if (statusCode == 401) {//bad password, unauthorized
                        $("[data-valmsg-for=Password]").html("Invalid password");
                        $("#Password").addClass("is-invalid");
                    }
                    if (statusCode == 449) { //mfa
                        $("#loginLoader").css("visibility", "hidden");
                        var data = JSON.parse(xhr.responseText);
                        $("#loginAlert").css("display", "none"); //hide alert
                        $("#LoginForm").animate({ //hide login form
                            opacity: 0
                        }, 500, function (e) { $(this).css("display", "none");
                            MFAField = new MFAValidator(data.verificationId, 0 + @((int)VerificationType.LoginMFA), $("#Username").val(), "#LoginMFA", null, (response) => {
                                //on valid
                                window.location.href = data.redirect ?? "/"; //redirect
                                $("#loginAlert p").html("Login Succeeded!");
                                $("#loginAlert").addClass("alert-success").removeClass("alert-danger").removeClass("alert-warning");
                            }, null, "LoginValId", "LoginSecret");
                            $("#MFAPhoneNumber").html(data.last4); //set last 4 digits of phone
                            //make mfa visible
                            $("#MFAContainer").css("display", "block").animate({ opacity: 1 }, 500); //make MFA visible
                        });
                        return;
                    }
                    else {
                        $("[data-valmsg-for=Password]").html("");
                        $("#Password").removeClass("is-invalid");
                    }

                    $("#loginAlert").addClass("alert-danger").removeClass("alert-warning").removeClass("alert-success");
                    $("#loginAlert p").html(xhr.responseText);
                    $("#loginLoader").css("visibility", "hidden");
                }
            })
        });
        window.history.replaceState(null, "", '/login');

    </script>
</body>

</html>
