<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BasketlyDB" connectionString="Server=tcp:baskifycoredbserver.database.windows.net,1433;Initial Catalog=Baskify;Persist Security Info=False;User ID=animalmix55;Password=@Nimalmix55;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="GoogleAPIKey" value = "AIzaSyAD-1no7MAhGjKU9toq7PGdxd-7gHksQ-0"/>
	</appSettings>
</configuration>