<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BasketlyDBProd" connectionString="Data Source=baskifycoredbserver.database.windows.net;Initial Catalog=Baskify_PROD;User ID=animalmix55;Password=@Nimalmix55;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.EntityClient"/>
		<add name="BasketlyDBTest" connectionString="Server=tcp:baskifycoredbserver.database.windows.net,1433;Initial Catalog=Baskify;Persist Security Info=False;User ID=animalmix55;Password=@Nimalmix55;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="AdminSecret" value="JoF0p#Z~bmsZRix36bx]U6ZB~(%W"/>
		<add key="GoogleAPIKey" value = "AIzaSyAD-1no7MAhGjKU9toq7PGdxd-7gHksQ-0"/>
		<add key="TwilioAccountSID" value="ACad71ea0e29ab42a6984874d550e367bf"/>
		<add key="TwilioAuth" value="59a0c2a9c4a0cc3e7877591b8c27c8d6"/>
		<add key="TwilioNum" value="+12055518917"/>
		<add key="TwilioMessagingServiceSid" value="MG04d7fd50c3713418575e6b940f82db19"/>
		<add key="AdminUser" value="animalmix55"/>
		<add key="UPSApi" value="https://onlinetools.ups.com/track/v1/details/"/>
		<add key="UPSKey" value="8D8031E408E03871"/>
		<add key="FedExAPI" value="https://ws.fedex.com:443/web-services"/>
		<add key="FedExKey" value="NiVTJ88qH0Qn9wx4"/>
		<add key="FedExPassword" value="c8bRdRsMkrCDuZqM1gd1ZLIEG"/>
		<add key="FedExMeterNum" value="251921100"/>
		<add key="FedExAccountNum" value="707722770"/>
		<add key="USPSUsername" value="569LOGIC6937"/>
		<add key="USPSAPI" value="https://secure.shippingapis.com/ShippingAPI.dll"/>
		<add key="Email" value="corycherven@hotmail.com"/>
		<add key="EmailEndpoint" value="smtp.office365.com"/>
		<add key="EmailPassword" value="animalmix55"/>
		<add key="EmailPort" value="587"/>
	</appSettings>
</configuration>