<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BasketlyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Cory\baskifyCore.Models.ApplictionDnContext.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>