/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* New material
-------------------------------------------------- */
.navigationBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    align-content: center;
    vertical-align: middle;
}
.navBarElement{
    display: flex;
    height: inherit;
}
.navigationBarBrand {
    position: relative;
    height: inherit;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;
    font-size: 30pt;
    align-self:center;
}
.navigationBarBrand:hover{
    text-decoration-line: none;
}
.navUserContainer{
    position: relative;
    display: flex;
    height: 96px;
    margin-left: auto;
    align-items: center;
    margin-right: 10px;
}
.navUserContainer #userAccount{
    padding-right:10px;
}
.navUserContainer img{
    height: 75%;
    width: auto;
    border-radius: 36px;
}
.navUserContainer:hover+.userDropdown  {
    max-height: 1000px;
    transition: height 1s;
}
.userDropdown{
    z-index: 10;
    position: absolute;
    background: white;
    font-weight:bold;
    color: white;
    right: 10px;
    top: 96px;
    width: 152px;
    text-align:center;
    max-height:0;
    overflow: hidden;
    background: rgba(40, 40, 40, 0.27);
    cursor: pointer;
}
.alert{
    z-index: 1;
}
.userDropdown:hover{
    max-height: 1000px;
}
.userDropdown tr:hover{
    background-color: rgb(174, 174, 174);
    transition: background-color .2s;
}
.searchBar {
    display: flex;
    flex-grow: 1;
    font-size: 150%;
    font-weight: bold;
}

.searchBarContainerParent {
    min-width: 170px;
    width: 40%;
}

.searchBarContainer {
    flex-wrap: nowrap;
    left: 0;
    right: 0;
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.searchButton{
    display: flex;
    flex-grow: 0;
}

#PageLoadingModal{
    position: fixed;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 20;
    top:0;
}

@media (max-width: 624px) {
    .searchBarContainerParent{
        order: 5;
        width: 100%;
        height: auto;
    }
    .searchBarContainer {
        width: 100%;
    }

    .searchBar {
        max-width: initial;
        height: 60px;
    }

    .navigationBar {
        transition: height .5s;
    }

    .navUserContainer {
        order: 3;
        height: 130px;
    }

    .userDropdown{
        font-size: 150%;
        position: relative;
        display: flex;
        order: 4;
        max-height: initial;
    }
    .userDropdown tr{
        display: inline-block;
        width: 50%;
        
    }
    .userDropdown td{
        text-align: center;
        width: inherit;
        display: inline;
    }

    .userDropdown{
        width:100%;
        top: 0;
        right: 0;
    }

}



@keyframes loading-bar-1 {
0%{
    height: 64%;
}

50% {
    height: 40%
}

100% {
    height: 40%
}

}

@keyframes loading-bar-2 {
    0% {
        height: 58%
    }

    50% {
        height: 40%
    }

    100% {
        height: 40%
    }
}

@keyframes loading-bar-3 {
    0% {
        height: 52%
    }

    50% {
        height: 40%
    }

    100% {
        height: 40%
    }
}

.loading-body div {
    position: relative;
    width: 15%;
}

.loading-body div:nth-child(1) {
    background: #93dbe9;
    animation: loading-bar-1 1.0416666666666665s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.20833333333333331s
}

.loading-body div:nth-child(2) {
    background: #689cc5;
    animation: loading-bar-2 1.0416666666666665s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.10416666666666666s
}

.loading-body div:nth-child(3) {
    background: #5e6fa3;
    animation: loading-bar-3 1.0416666666666665s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 0s
}

.loading-spinner {
    display:none;
    overflow: hidden;
    background: none;
    display: inline-flex;
    visibility:hidden;
}

.loading-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading-body div {
    box-sizing: content-box;
}

#homePagePhotoWall {
    background-image: url("/Content/homepage-bg2.jpg");
    background-attachment: fixed;
    background-position-y: top;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#searchBarPhotoWall{
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 27px;
    width: 70%;
    max-width: 800px;
}


#searchQueryHome {
    background-color: rgba(255, 255, 255, 0.00);
    height: 100%;
    border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
}

#searchQueryButtonHome {
    height: 100%;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    background-color: rgba(255, 255, 255, 0.00);
}
#searchQueryButtonHome:hover{
    background-color: rgba(255, 255, 255, 0.38);

}


#aboutUs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#aboutUs img{
    width: 20%;
    max-width: 400px;
    height: auto;
    display: inline-block;
    transition: transform ease-in-out .2s;
}
#aboutUs img:hover{
    transform: scale(1.02)
}
.aboutUsText{
    width: 80%;
    font-size: 102%;
    flex-grow: .7;
    display: inline-block;
}
h4{
    margin-top: 5px;
}


/* Account settings
-------------------------------------------------- */
#userInfoForm{
    display:flex;
    align-items:center;
    justify-content: center;
    left:0;
    right: 0;
    margin: auto;
    width: 60%;
    min-width: 400px;
}

#userIcon{
    width: auto;
    height: 45px;
    flex: 0;
    padding-right: 5px;
}

#imgUploadContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.field-validation-error{
    color:red;
}

#userAddressMap{
    width: 100%;
    height: 200px;
    border: none;
}

/*---------------AUCTION ADD FORM------------------*/
#auctionInfoForm{
    width: 60%;
    min-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    transition: width 1s;
}

.AuctionBannerImage {
    width: 60%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    transition: width .6s;
}

#AuctionNavTabs {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 160%;
    transition: width .6s;
}
#myTabContent #baskets {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    transition: width .6s;
    overflow-y: auto;
}
.galleria, .basketGallery {
    width: 100%;
    height: 400px;
    background: #000
}
#BasketModalContainer{
    width: 60%;
    max-width: 1000px;
    min-width:600px;
    height: 80%;
    min-height: 600px;
    max-height: 1000px;
}
#basketModalContent{
    height: 100%;
    border-radius:15px;
}
#basketModalBody{
    height: 100%;
    overflow-y: auto;
}

/*-------------User Basket Submission-------------*/
#AuctionInfoBlock {
    margin-top: 20px;
    background-color: #c2c2c2;
    margin-bottom: 20px;
    width: 60%;
    display: block;
    position: relative;
    left:0;
    right:0;
    margin: auto;
}

@media (max-width: 790px) {
    .searchButton {
        display: none;
    }

    #searchQueryHome {
        border-bottom-right-radius: 27px;
        border-top-right-radius: 27px;
    }

    #homePagePhotoWall {
        background-attachment: scroll;
    }

    #aboutUs img {
        width: 100%;
        flex: 1;
    }

    #aboutUs img:nth-child(4), #aboutUs img:nth-child(5) {
        display: none;
    }

    .AuctionBannerImage {
        width: 98%;
    }

    #AuctionNavTabs {
        width: 100%;
    }
    #auctionInfoForm, #myTabContent #baskets {
        width: 100%;
    }
    #basketModalBody {
        height: 100%;
    }
    #BasketModalContainer {
        width: 100%;
        max-width: unset;
        min-width: unset;
        height: 100%;
        min-height: unset;
        max-height: unset;
        margin: 0;
    }
    #basketDataModal{
        padding: 0 !important
    }
    #AuctionInfoBlock {
        width: 100%;
    }
}

/*----------AUCTION LIST-------------*/
#AuctionListContainer, #deleteAuctionForm, .maxWidthContainer {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
}
.goBack {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
}
.basketCard{
    width:300px;
    overflow:hidden;
}
.roundButton {
    font-size: 200%;
    font-weight: bold;
    height: 26px;
    width: 26px;
    border-radius: 12.5px;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4BBF73;
    color: white;
    cursor: pointer;
}

.modalHeader {
    font-weight: bold;
    font-size: 145%;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid rgba(1,1,1,0.1) 1px;
    border-top: solid rgba(1,1,1,0.1) 1px;
}

@media (max-width: 790px) {
    #AuctionListContainer, #deleteAuctionForm, .maxWidthContainer {
        width: 100%;
    }
    #AuctionListHeader img{
        display: none;
    }
    .goBack{
        width: 100%;
    }
    .basketCard{
        width: 80vw;
    }

}

td.details-control {
    background: url('/Content/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/Content/details_close.png') no-repeat center center;
}

.dataTables_wrapper>.row{
    width:100%;
}

#cardTable .selected {
    background-color: #cdedd8
}

.signUpModal{
    min-height:500px;
}
.orgResultLine:hover {
    background: rgba(0, 0, 0, 0.1)
}
.orgResultLine {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: solid rgba(155,155,155,.2) 1px;
    padding:10px;
    z-index:10;
    pointer-events:all;
}
#iconUploadContainer {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    background-image: url(/Content/uploadImage.svg);
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countryCode {
    -moz-appearance: textfield;
}
.countryCode::-webkit-outer-spin-button,
.countryCode::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.verificationContainer {
    display: flex;
    height: 50px;
    font-size: 40px;
    justify-content: space-around;
    width: 270px;
    align-items: center
}

.verificationContainer span {
    color: rgba(31, 155, 207, .3);
    padding: unset;
    cursor: default;
}

.verificationContainer.valid input {
    border-color: #dbf2e3;
}

.verificationContainer.valid span {
    color: #dbf2e3;
}

.verificationContainer.invalid input {
    border-color: red;
}

.verificationContainer.invalid span {
    color: red;
}

.verificationCharacter {
    height: 100%;
    width: 40px;
    font-size: inherit;
    text-align: center;
    padding: unset !important;
    border: 2px solid rgba(31, 155, 207, .3);
    border-radius: 5px
}

.contextMenu td{
    padding: .75rem;
}

.contextMenu {
    margin-bottom: unset;
}

@media (max-width: 790px) {
    .signUpModal{
        height:80%;
    }
}