<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jwt-decode-2.2.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - baskifyCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.lux.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       <partial name="NavBar" model='ViewData["NavBarOverride"] ?? Model'/>
    </header>
    <main role="main" class="pb-3">
        <asp:UpdatePanel ID="UpdatePanel1"
                         runat="server">
            @RenderBody()
        </asp:UpdatePanel>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - baskifyCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
