@model UserModel
    <div id="SignOnModal" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="SignOnForm">
                        <input id="inputUsername" type="text" placeholder="Username" class="form-control"/>
                        <div class="form-group has-danger">
                            <input id="inputPassword" type="password" placeholder="Password" class="form-control">
                            <div id="passwordFeedback" class="invalid-feedback"></div>
                        </div>
                        <button id="loginButton" type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $("#SignOnForm").submit(function (e) {
            e.preventDefault();
            $("#loginButton").prop('disabled', true);
            $.post("/login", { username: $("#inputUsername").val(), password: $("#inputPassword").val() },
                function (data) { //post will return the new, logged in header
                    $("#loginButton").prop('disabled', false);
                    if (!data.startsWith("ERROR:")) {
                        $("#SignOnModal").modal('toggle'); //close modal
                        $("header").html(data);
                        $("#inputPassword").removeClass("is-invalid")
                    }
                    else {
                        $("#inputPassword").addClass("is-invalid")
                        $("#passwordFeedback").html(data);
                    }
                });
            return false;
        })
    })
</script>